body {
    background-color: rgb(204, 201, 201);
}

* {
    font-family: 'Open Sans', sans-serif;
}

/*
*********************************
*        HEADER
*********************************
*/

.header-container {
   margin-top: 70px;
   text-align: center;
}

h1 {
    margin-bottom: 30px;
}




/* MARKEUR POUR LES ANIMATION CSS */
#cameleon {
    height: 150px;
    width: 150px;
}
  #cameleon:hover {
      cursor: pointer;
      opacity: 0.2;
      transition: opacity 2s;
  }
     #cameleon:active {
       cursor: pointer;
       opacity: 0;
      transition: opacity 2s;
   }


.invisible {
    opacity: 0.1;
}

.visible {
    opacity: 1;
    transition: opacity 1s;
}

.disappears {
    display: none;
}

.appears {
   display: block;
}

.h1-camouflage {
   color: rgb(226, 224, 224);
   text-shadow: 0 0 3px rgb(0, 0, 0);
   /* transition: color 3s; */
}



/*
     Animation pour les lettre du h1  
*/

#h1-container-div {

    /* color: #718fa8; */
    color: #f0f8ff;
    display: flex;
    font-size: 45px;
    /* text-shadow: 0  0 2px #f3f3f3; */
    text-shadow: 1px 0 3px #000000;
    justify-content: center;
}


/* A */

#div-title-1 {
     transform: translateX(40px) translateY(170px) rotateZ(-100deg);
   
}
/* L */
#div-title-2 {
    transform:  translateX(7px) translateY(130px) rotateZ(-75deg);
}

/* E */

#div-title-3 {
     transform: translateX(-10px) translateY(95px) rotateZ(-60deg);

}

/* X */

#div-title-4 {
     transform: translateX(-15px) translateY(60px) rotateZ(-40deg);

}

/* I */
#div-title-5 {
     transform: translateX(-10px) translateY(45px) rotateZ(-20deg);
}


/* S */
#div-title-6 {
     transform: translateY(40px);
     margin-right: 20px;

}

/* ESPACE */
#div-title-7 {
     
}

/* S */
#div-title-8 {
     transform: translateY(40px);
     margin-left: 20px;

}

/* E */
#div-title-9 {
    transform: translateX(10px) translateY(45px) rotateZ(20deg);

}

/* R */
#div-title-10 {
    transform: translateX(15px) translateY(65px) rotateZ(40deg);

}

/* V */
#div-title-11 {
    transform: translateX(10px) translateY(95px) rotateZ(60deg);


}

/* E */
#div-title-12 {
    transform:  translateX(-7px) translateY(130px) rotateZ(80deg);
}


/* T */
#div-title-13 {
    transform: translateX(-30px) translateY(170px) rotateZ(100deg);
}



/*
   Animation pour les lettres du h2
*/

#h2-container-div {
    color: rgb(156, 152, 152);
    display: flex;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    text-shadow: 0 2px 1px rgb(0, 0, 0);
}
    #div-h2-11 {
       margin-left: 15px;
   }

   #div-h2-21 {
      color: #f0f8ff;
      margin: 0 15px 0 15px;
   } 



 .div-hide {
    transform: rotateY( 90deg);

}

.div-show {

       animation: spin 1s forwards;

}


@keyframes spin {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY( - 90deg);
    }
} 

/* SUB-H2 */

#div-sub-h2 {
    border-bottom: 5px #000000 solid;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    justify-content: space-around;
    margin: 0 40px 0 40px;
}

.div-sub-h2-hide {
    opacity: 0;
}





/****************************************************************
* Palier à partir de 768 Pixels de large (Tablette et plus grand)
*****************************************************************
*/
@media (min-width: 768px) and (max-width: 991px) {

    #h2-container-div {
        font-size: 35px;
    }


}




/*******************************************************
* Palier à partir de 992 Pixels de large (Format bureau)
********************************************************
*/

@media (min-width: 992px)  {

    #h2-container-div {
         font-size: 45px;
    }

}

@media (min-width: 1280px)  {

    #h2-container-div {
         font-size: 60px;
    }

}

