
/************************
   STYLE GENERAL
************************/
body { 
    background-color: #dbdbdb;
    
    --bleed-color: #740909;
    --carbon-color: #2e2e2e;
    --spectre-color: #a7a7a7;
    --green-marketing: #2dcaa8;
}    

a {
    font-size: 20px;
}

/* MARKEUR POUR LES ANIMATION CSS */


.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 1s;
}

.disappears {
    display: none;
}

.appears {
   display: block;
}


/*
*********************************
*        HEADER
*********************************
*/

.header-container {
   margin-top: 70px; 
   text-align: center;
}   

h1 {
    margin-bottom: 30px;
}    

#h1-container-div {

    color: var(--green-marketing);
    display: flex;
    font-family: 'Major Mono Display', monospace;
    font-size: 55px;
    justify-content: center;
}    


/*Alexis*/
#div-title-1 {
    color: var(--green-marketing);
    border-top: 3px var(--green-marketing) solid;
    background-color: #000000;
    padding-left: 10px;
   
}    


#div-title-2 ,
#div-title-3 ,
#div-title-4 ,
#div-title-5 ,
#div-title-6 ,
#div-title-7 {
    color: rgb(255, 255, 255);
    border-top: 3px var(--green-marketing) solid;
    background-color: #000000;
}    

#div-title-7 {
    border-right: 3px var(--green-marketing) solid;
    width: 10px;
}    


/*Servet*/
#div-title-8 ,
#div-title-9 ,
#div-title-10 ,
#div-title-11 ,
#div-title-12 {
    border-bottom: 3px var(--green-marketing) solid;
    background-color: rgb(255, 255, 255);
    color: #cccaca;
    text-shadow: 2px 0 2px #000000;
}    

#div-title-8 {
    border-left: 3px var(--green-marketing) solid;
    padding-left: 10px;
}    

#div-title-13 {
    border-bottom: 3px var(--green-marketing) solid;
    background-color: rgb(255, 255, 255);
    color: #cccaca;
    text-shadow: 2px 0 2px #000000;
    padding-bottom: 20px;
}    


/*
********  COORDONNÉES  **********
*/
.coords-container {
    display: flex;
    justify-content: center;
}    
   .coords {
       display: flex;
       justify-content: space-around;
       flex-basis: 600px;
    
   }  
       .adress {
           font-size: 20px;
       }





/*
Animation pour les lettres du h2
*/

#h2-container-div {
    color: var(--carbon-color);
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    justify-content: center;
    text-shadow: 3px 0 0 #000000;
}
    #div-h2-11 {
       margin-left: 15px;
   }

   #div-h2-21 {
      color: var(--carbon-color);
      text-shadow: 3px 0 0 #000000;
      margin: 0 15px 0 15px;
   } 

 .div-hide {
    transform: rotateY( 90deg);

}

.div-show {

       animation: spin 1s forwards;

}

.horizon {
   background-color: rgb(177, 173, 165);
   display: block;
   margin: auto;
   height: 1px;
   width: 100%;
   
}
/* Reflet du h2*/
.mirror {
    transform: rotateX(180deg);
}
.tilt {
    transform: rotateX(-60deg);
}
.transparence {
    opacity: 0.5;
}

.h2-container-parent-mirror {
    margin-top: -22px;
}
    #h2-container-div-mirror {
        color: var(--carbon-color);
        display: flex;
        font-family: 'Merriweather', serif;
        font-size: 40px;
        justify-content: center;
        text-shadow: 3px 0 0 rgb(0, 0, 0);  
    }   
    #mirror-div-h2-11 {
       margin-left: 15px;
   }

   #mirror-div-h2-21 {
      color: var(--carbon-color);
      margin: 0 15px 0 15px;
      text-shadow: 3px 0 0 rgb(0, 0, 0);
   } 

 .div-hide {
    transform: rotateY( 90deg);

}

.div-show {

       animation: spin 1s forwards;

}



/* SUB-H2 */

#div-sub-h2 {
    border-bottom: 5px #000000 solid;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    justify-content: space-around;
    margin: 0 40px 0 40px;
}

.div-sub-h2-hide {
    opacity: 0;
}






/**********************
        ANIMATIONS
***********************/

@keyframes spin {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY( - 90deg);
    }
} 


/****************************************************************
* Palier à partir de 768 Pixels de large (Tablette et plus grand)
*****************************************************************
*/
@media (min-width: 768px) and (max-width: 991px) {

 


}




/*******************************************************
* Palier à partir de 992 Pixels de large (Format bureau)
********************************************************
*/

@media (min-width: 992px)  {

    #h2-container-div,
    #h2-container-div-mirror {
         font-size: 45px;
    }

}

@media (min-width: 1280px)  {

    #h2-container-div,
    #h2-container-div-mirror {
         font-size: 70px;
    }

}

