body {
    background: linear-gradient(100deg, #dbd4c1, #fffaf0, #e4d9c5);
    height: 100%;
}
* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(255, 250, 240);
    font-size: 35px;
    font-family: 'New Tegomin', serif;
    margin-bottom: 30px;
    margin-top: -10px;
    text-shadow: 0 0 2px floralwhite;
}
h2 {
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    margin-top: 40px;
}

main {
    margin-top: 100px;
} 


h3 {
    font-size: 23px;
    font-family: 'New Tegomin', serif;

}

section > div {
    margin: 20px 0 40px 0;
}

/*
**********************
*     HEADER
**********************
*/
.header-container {
    margin-top: 30px;
    text-align: center;
}
     .top-header {
         margin-top: 110px;
     }

.none {
    display: none;
}
.invisible {
    opacity: 0;
}


.visible {
    opacity: 0.7;
    transition: opacity 1s;
}



/* Image*/


.ink-drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-drop {
    
    animation: fall 1.3s forwards;
    transform: translateY(100px);
    position: relative;
    width: 50px;
    height: 70px;  
    z-index: 2; 
}

.drop-shadow {
    transform: translateY(135px);
    width: 100px;
    
    position: relative;
    z-index: 1;
}


.black-feather {
    transform: translateX(-60px) translateY(40px);
    width: 190px;
    height: 130px;
}

.black-cloud {
    animation: spreads-cloud 2s forwards;
    margin-top: -100px;
    position: relative;
    transform: translateX(5px) translateY(105px);
    z-index: -1;
}

/*
ANIMATION
*/

@keyframes fall {
 from {
     transform: translateY(20px);
 }
 to {
     transform: translateY(145px);
 }
}

 @keyframes spreads-cloud {
    from {
        height: 40px;
        width: 100px;  
    }
    to {
        height: 170px;
        width: 610px;
    }
}




/*
**********************
* MAIN
**********************
*/

.main-container {
    margin: 70px 80px 0 80px;
}
  .sub-main-container-1 {
      flex-basis: 600px;
  }
    .main-sub-block { 
         margin-bottom: 50px;
    }
     
     .main-sub-block > section > p{
       margin-top: -40px;
    }










/****************************************************************
* Palier à partir de 768 Pixels de large (Tablette et plus grand)
*****************************************************************
*/
   @media (min-width: 768px) and (max-width: 991px) {

    h2 {
        font-size: 35px;
    }


}




/*******************************************************
* Palier à partir de 992 Pixels de large (Format bureau)
********************************************************
*/

@media (min-width: 992px)  {

    /****************
         HEADER
    *****************/


    /**************
          MAIN
     **************/
     .main-container {
        margin: 70px 100px 0 100px;
    }

       .sub-parent-container {
           display: flex;
           justify-content: space-between;
       }

}




