body {
    background-color: rgb(255, 250, 240);

}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(255, 250, 240);
    font-size: 35px;
    font-family: 'New Tegomin', serif;
    margin-bottom: 30px;
    text-shadow: 0 0 2px floralwhite;
}
h2 {
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    margin-left: 10px;
}
h3 {
    font-size: 23px;
    font-family: 'New Tegomin', serif;

}
p {
    font-size: 20px;
}

/*
**********************
* HEADER
**********************
*/
.header-container {
    margin-top: -30px;
    text-align: center;
}


/* Image*/


.black-feather {
        transform: translateX(-60px) translateY(40px);
       width: 190px;
       height: 130px;
    }
  
    .black-cloud {
        position: relative;
        transform: translateX(5px) translateY(105px);
        height: 170px;
        width: 600px;

        z-index: -1;
    }

/*
**********************
* MAIN
**********************
*/

.main-container {
    margin: 70px 25px 0 25px;
}
  
  .main-sub-block {
      margin-bottom: 50px;
  }
     
  .main-sub-block > section > p{
    margin-top: -40px;
}



/*
***  Expérience ***
*/


.black-drop {
    transform: translateX(160px) translateY(-50px);

    width: 50px;
    height: 50px;  
}
.drop-left {
    transform: translateX(335px) translateY(-60px);
}

.ink-stain {
    transform: translateX(110px) translateY(-30px);
}





   
/*
***  Compétence ***
*/






/****************************************************************
* Palier à partir de 768 Pixels de large (Tablette et plus grand)
*****************************************************************
*/
   @media (min-width: 768px) and (max-width: 991px) {

    h2 {
        font-size: 35px;
    }


}




/*******************************************************
* Palier à partir de 992 Pixels de large (Format bureau)
********************************************************
*/

@media (min-width: 992px)  {

}




