*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto 0;
}
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;

    animation: spin 20s infinite linear;
}


.face {
    position: absolute;
    width: 200px;
    height: 200px;

    background-image: url('univers.jpg');

    background-position-y: 900px;
    transition: background-position-y 10s;
}

.top {
    
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {

    transform: rotateX(-90deg) translateZ(100px);
}

.right {
 
    transform: rotateY(90deg) translateZ(100px);
}

.left {
   
    transform: rotateY(-90deg) translateZ(100px);
}

.front {
  
    transform: rotateX(0deg) translateZ(100px);
}

.back {

    transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/*
*****************
* Floor
****************
*/

.floor {
    background-color: rgb(245, 245, 245);
    width: 100%;
}


/*
******************
* Ligne d'horizon
******************
*/

.horizon-line {
    background-color: black;
    width: 100%;
    margin-top: 100px;
    height: 1px;
}

/* 
*****************
* Reflet du cube
*****************
*/

